<h2>Fields</h2>

<ul>
    <%= for field <- @fields do %>
        <li><%= link String.capitalize(BlockquoteWeb.SharedView.naive_pluralize(field)), to: BlockquoteWeb.SharedView.path_for_item(@conn, field, :index) %></li>
    <% end %>
</ul>
